version: '3'
services:
  node-app:
    build: .
    # build: 
    #   context: .
    #   args:
    #     - NODE_ENV=production
    environment:
      - NODE_ENV=production
    env_file:
      - .env
    command: yarn start # overring [ CMD [ "yarn","start" ] ] in Dockerfile
